<div id="top-container" style="margin-left: -48%">
  <h1 #sect>Weapons</h1>
  <button (click)="change_section('Weapons')" routerLink="weapons">Weapons</button>
  <button (click)="change_section('Tools')" routerLink="tools">Tools</button>
  <button (click)="change_section('Equipables')" routerLink="equipables">Equipables</button>
</div>

<input #search style="width: 50%; margin-top: 10px; margin-left: -25%">
<p style="color: gray; font-size: 15px; margin-left: -180px; margin-top: -3px">run "debug_toggle()" in the console to see the debug window</p>
<router-outlet></router-outlet>

<!-- DEBUGGING SECTION -->
<div id="debugger" *ngIf="debug">
  DEBUGGING (These are the cleaned up objects received from the api)
  <pre>{{data | json}}</pre>
</div>
